body{
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/houndstooth-pattern.png);
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    background: #fff;
    padding: 20px;
    width: 100%;
}

.container{

}

.name{

}

.content {

}

